<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<h1>%= user[:first]%> <%= user[:last]%></h1>

<h2>My Info!</h2>
<p> dlhadkansdjnaksldnalkdnlakdnlakndl</p>

</body>
</html>